:root {
    --Navegaciones: #4A89AC;
    --Iconos: #4A89AC;
    --Bordes: #4F5257;
    --Enlaces: #4A89AC;
    --Hover: #464188;
    --H1: #4A89AC;
    --Subtitulos: #4A89AC;
    --Textos: #4F5257;
    --Fondo: #FFFFFF;
    --FondoSecundario: #0ea5e9;
}